a.disabled {
    color: #bdbac4 !important;
    cursor: text !important;
}

.questions > ul {
    margin: 0;
    padding: 0;
}
.questions > ul > li {
    list-style-type: none;
    padding: 0;
}
.selected-question > div {
    background-color: #f1f1f1;
    padding: 0.5em;
    margin: 0.3em 0;
}
