.tags-list {
    clear: both;
}
.tags-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.tags-list ul li {
    float: left;
    margin: 5px;
}
.tags-list a.disabled {
    color: #ccc;
}
.oper-shell-body > div {
    clear: both;
}
.questions {
    padding-top: 10px;
}
.questions > ul {
    padding: 0 0 0 20px;
    list-style-type: none;
}
.questions > ul > li {
    margin-bottom: 10px;
}
.selected-question > div:not(:first-child) {
    border-top: 1px #888 solid;
}
.selected-question input {
    padding: 20px;
}
